# vi: ft=sshconfig
Include local.config

Host nix-community-x86_64
  User adamcstephens
  Hostname build-box.nix-community.org

Host nix-community-aarch64
  User adamcstephens
  Hostname aarch64-build-box.nix-community.org

Host nix-community-darwin
  User adamcstephens
  Hostname darwin-build-box.nix-community.org

Host *
  ForwardAgent yes
  ServerAliveInterval 60
  ServerAliveCountMax 2
  Compression no
  AddKeysToAgent no
  HashKnownHosts no
  UserKnownHostsFile ~/.ssh/known_hosts
  ControlMaster auto
  ControlPath ~/.ssh/master-%r@%n:%p
  ControlPersist 120m
