# vi: ft=sshconfig
Include local.config

Host nix-community-x86_64
  User adamcstephens
  Hostname build-box.nix-community.org

Host nix-community-aarch64
  User adamcstephens
  Hostname aarch64-build-box.nix-community.org

Host nix-community-darwin
  User adamcstephens
  Hostname darwin-build-box.nix-community.org

Host *
  AddKeysToAgent no
  Compression no
  ControlMaster auto
  ControlPath ~/.ssh/master-%r@%n:%p
  ControlPersist 30m
  ForwardAgent yes
  HashKnownHosts no
  ServerAliveCountMax 2
  ServerAliveInterval 60
  TCPKeepAlive no
  UserKnownHostsFile ~/.ssh/known_hosts
