[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "fresh"]
	path = fresh
	url = https://github.com/freshshell/fresh
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "cmc"]
	path = cmc
	url = https://github.com/TimidRobot/cmc
	branch = main
