# trigger an apt-get update
update

ppa "kgilmer/regolith-stable"
package "regolith-desktop"

package "firefox"
package "kitty"
package "fonts-firacode"
package "redshift-gtk"
package "telegram-desktop"
package "xcape"
package "xinput"
