[Unit]
Description=Adjust the color temperature of your screen according to your surroundings.
Documentation=https://gitlab.com/chinstrap/gammastep
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/gammastep -l 39.9612:-82.9988 -t 6500:3000
Restart=always

[Install]
WantedBy=sway-session.target
WantedBy=river-session.target
