[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
            timeout 120 'setsid --fork gtklock' \
            timeout 300 'sudo systemctl suspend' \
            before-sleep 'pgrep gtklock || setsid --fork gtklock'

[Install]
WantedBy=sway-session.target
WantedBy=river-session.target
