* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

window#waybar {
  color: #9ed06c;
  background-color: #2b2d3a;
  border-bottom: 2px solid #7e8294;
}

window#waybar.solo {
  color: #9ed06c;
}

#workspaces {
  margin: 0 5px;
}

#workspaces button {
  padding: 0 7px;
  color: #9ed06c;
}

#workspaces button.focused {
  color: #f89860;
}

#workspaces button.visible {
  color: #f89860;
}

#workspaces button.urgent {
  color: #fb617e;
}

#mode {
  color: #bb97ee;
  margin: 0px 6px 0px 10px;
}

#battery,
#custom-clock,
#idle_inhibitor,
#network,
#pulseaudio,
#tray {
  margin: 0px 10px;
  min-width: 10px;
}

#battery.warning {
  color: #f0c362;
}

#battery.critical {
  color: #fb617e;
}

#battery.charging {
  color: #6dcae8;
}
