[Unit]
Description=Highly customizable Wayland bar for Sway and Wlroots based compositors.
Documentation=https://github.com/Alexays/Waybar/wiki/
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/waybar
# needs 0.9.6+ ExecReload=kill -SIGUSR2 $MAINPID

[Install]
WantedBy=sway-session.target
WantedBy=river-session.target
