* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

window#waybar {
  color: #78bd65;
  background-color: #1c1d21;
  border-bottom: 2px solid #686b78;
}

window#waybar.solo {
  color: #78bd65;
}

#workspaces {
  margin: 0 5px;
}

#tags button,
#tags button.occupied,
#workspaces button {
  padding: 0 7px;
  color: #78bd65;
}

#tags button.focused,
#workspaces button.focused {
  color: #ef7c2a;
}

#workspaces button.visible {
  color: #ef7c2a;
}

#tags button.urgent,
#workspaces button.urgent {
  color: #eb3d54;
}

/* sway mode */
#mode {
  color: #bb97ee;
  margin: 0px 6px 0px 10px;
}

#battery,
#custom-clock,
#idle_inhibitor,
#network,
#pulseaudio,
#tray {
  margin: 0px 10px;
  min-width: 10px;
}

#battery.warning {
  color: #e5cd52;
}

#battery.critical {
  color: #eb3d54;
}

#battery.charging {
  color: #4fb4d8;
}
