.vol-icon {
  color: $blue;
}
.volbar highlight {
  background-color: $orange;
  border-radius: 10px;
}

.volume-window {
  @include wshadow;
  background-color: $bg;
  border-radius: 16px;
  padding-right: 1rem;
}

.volume-text {
  color: $blue;
  font-size: 1.5rem;
  font-weight: bold;
}

.volume-icon {
  color: $blue;
  font-size: 5rem;
  margin: 1rem;
}

.volume-info {
  margin: 1rem 0;
}

.volume-bar {
  trough {
    min-width: 120px;
  }

  highlight {
    background-color: $orange;
    border-radius: 16px;
  }
}
