/* https://cloudninja.pw/docs/wofi.html */
window {
  border: 2px solid #686b78;
  background-color: #1c1d21;
}

#input {
  color: #ef7c2a;
  border: 2px solid #686b78;
  background-color: #1c1d21;
  font-size: 18px;
}

#outer-box {
  margin: 10px;
}

#scroll {
  margin: 5px 0px;
  font-size: 16px;
  color: #78bd65;
}

#scroll label {
  margin: 2px 0px;
}

#entry:selected {
  color: #78bd65;
  background-color: #1c1d21;
}
