[Desktop Entry]
Name=Cider
Exec="/opt/cider/cider" --unity-launch --enable-features=UseOzonePlatform --ozone-platform=wayland %U
Terminal=False
Type=Application
Icon=cider
StartupWMClass=Cider
Encoding=UTF-8
Comment=Project Cider. A new look into listening and enjoying music in style and performance.
Categories=AudioVideo;
MimeType=x-scheme-handler/discord-911790844204437504;x-scheme-handler/ame;x-scheme-handler/itms;x-scheme-handler/itmss;x-scheme-handler/musics;x-scheme-handler/music;x-scheme-handler/cider;
