.cache/
.mc-lists.el
.persistent-scratch
*.elc
autosave/
bookmarks
build-cache.el
build/
elisp-autofmt-cache/
eln-cache/
elpa/
eshell/
history
modified/
persp-confs/
projectile-bookmarks.eld
projectile.cache
projects
recentf
repos/
semanticdb/
tramp
tabsession.el
transient/
undo-fu-session/
var/
.emacs.desktop
.org-id-locations
