.cache/
.persistent-scratch
*.elc
autosave/
bookmarks
build-cache.el
build/
eln-cache/
elpa/
eshell/
history
modified/
persp-confs/
projectile-bookmarks.eld
projectile.cache
projects
recentf
repos/
tramp
tabsession.el
transient/
undo-fu-session/
